# === Локальные папки окружения и IDE ===
.obsidian/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# === Кэш Python и виртуальные окружения ===
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

data/
!data/*.yaml

submission.csv
*.log
runs/